
*,html,body
{
    margin:0;
    padding: 0;
}
body{
    height: 3000px;
}

header{
    height: 122px;
    line-height: 112px;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.secondary{
    background-color: deepskyblue;
    box-shadow: 0px 0px 17px 0px;
    transition: all 0.5s ease-in;
}


ul{
    list-style: none;
}

ul li {
    display: inline-block;
}

header nav{
    float: right;
}

.logo{
    margin-top: 30px;
}

header nav ul li a {
    padding-right: 30px;
    font-weight: bold;
    color: white;
    transition: all 0.5s ease-in-out;
}
header nav ul li a:hover{
    text-decoration: none;
    color: red;
}

.img1{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgb(0,0, 0,7)),url(../img/slider-photo1.jpg);
    background-size: 100% 100%;

}
.img2{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgb(0,0, 0,7)),url(../img/slider-photo2.jpg);
    background-size: 100% 100%;

}
.img3{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgb(0,0, 0,7)),url(../img/slider-photo3.jpg);
    background-size: 100% 100%;

}

.slider,.slider ul,.slider ul li
{
    height: 710px;
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;

}

.slider h2{
    font-weight: bold;
    margin-top: 270px;
}

.slider span {
    color: orange;
}
.slider a {
    padding: 10px 50px;
    margin-right: 10px;
}
.slider a.btn-half{
    background-color: darkturquoise;
    color: white;
    transition: 0.5 ease-in;

}
.slider a.btn-half:hover{
   background-color: dodgerblue;
}

.slider a.btn-full{
    background-color: orange;
    color: white;
    transition: 0.5 ease-in;
}
.slider a.btn-full:hover{
    background-color: #e67e22;
}


.slider i {
    font-size: 35px;
    margin-right: 10px;
}