*,html,body
{
    margin:0;
    padding: 0;
}
body{
    height: 3000px;
}

header{
    height: 122px;
    line-height: 112px;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.secondary{
    background-color: deepskyblue;
    box-shadow: 0px 0px 17px 0px;
    transition: all 0.5s ease-in;
}


ul{
    list-style: none;
}

ul li {
    display: inline-block;
}

header nav{
    float: right;
}

.logo{
    margin-top: 30px;
    
}

header nav ul li a {
    padding-right: 30px;
    font-weight: bold;
    color: white;
    transition: all 0.5s ease-in-out;
}
header nav ul li a:hover{
    text-decoration: none;
    color: red;
}
.img1{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgb(0,0, 0,7)),url(../img/slider-photo1.jpg);
    background-size: 100% 100%;

}
.img2{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgb(0,0, 0,7)),url(../img/slider-photo2.jpg);
    background-size: 100% 100%;

}
.img3{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgb(0,0, 0,7)),url(../img/slider-photo3.jpg);
    background-size: 100% 100%;

}

.slider, .slider ul, .slider ul li{
    height: 710px;
    width: 100%;
    color: rgb(255, 255, 255);

    text-align: center;
}

.slider h2{
    font-weight: bold;
    margin-top: 270px;
}

.slider span{
    color: orange;
}

.slider a{
    padding: 10px 50px;
    margin-right: 10px;
}

.slider a.btn-half{
    background-color: darkturquoise;
    color: white;
    transition: 0.5 ease-in;
}

.slider a.btn-half:hover{
    background-color: dodgerblue;
}

.slider a.btn-full{
    background-color: orange;
    color: white;
    transition: 0.5 ease-in;
}
.slider a.btn-full:hover{
    background-color: #e67e22;
}


.slider i {
    font-size: 35px;
    margin-right: 10px;
}


.intro-area{
    position: relative;
    padding: 100px 8px;
    text-align: center;
}
.sub-heading {
    position: relative;
    margin-bottom: 75px;
}
.sub-heading:before{
    content:"" ;
    position: absolute;
    top: 100%;
    left:50%;
    margin-left:-3%;
    width: 5%;
    height: 1px;
    background-color: deepskyblue;
    z-index: 1;
    transition: 0.3 ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;



}

.sub-heading:hover:before{
    width:24%;
    margin-left: -12%;
}


.sub-heading:after{
    content: "";
    position: absolute;
    top:100%;
    left:50%;
    margin-left:-12%;
    width: 24%;
    height: 1px;
    background-color: #e1e1e1;
}

.sub-heading p{
    color: #818181;
    display: inline-block;
    padding: 0px 0px 0px 0px;
    position: relative;
    line-height: 24px;
    letter-spacing: 0.024em;
}

.intro-block{
    position: relative;
    background: #eee;
    margin: 50px 0px 0px;
    text-align: center;
    padding: 70px 25px 40px;
}

.intro-block:hover,.intro-block-active{
    background: #0AAe;
}

.intro-block:hover{
    transition: .6s ease;
    -webkit-transition: .6s ease;
    -moz-transition: .6s ease;
    -o-transition: .6s ease;
    -ms-transition: .6s ease;
}

.intro-block .intro-icon{
    position: absolute;
    top:31px;
    left: 50%;
    margin-left: -31px;
}

.intro-block .fab{
    height: 63px;
    width: 63px;
    font-size: 38px;
    color: white;
    line-height: 2;
    background: deepskyblue;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(162,210,226);
}

.intro-block .fas{
    height: 63px;
    width: 63px;
    font-size: 38px;
    color:white;
    line-height: 2;
    background: deepskyblue;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(162,210,226);


}




.team-section{
    overflow: hidden;
    text-align: center;
    background: deepskyblue;
    padding: 60px;
}

.team-section h1{
    text-transform: uppercase;
    margin-bottom: 60px;
    color: black;
    font-size: 40px;
}

.border-t{
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: white;
    margin-bottom: 40px;
}

.ps {
    margin-bottom: 40px;
}
.ps a{
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;

}
.ps a img{
    width: 100%;
    filter:grayscale(100%);
    transition: 0.4s all;
    border-radius: 100%;
    transform: rotate(10deg) scale(1.4);


}
.ps a:hover > img{
    filter: none;
    transform: rotate(0) scale(3);
    border-radius: 50%;
    
}

.section-tt{
    width: 600px;
    margin: auto;
    font-size: 20px;
    color:black;
    text-align: justify;
    height: 0;
    overflow: hidden;

}

.section-tt:target{
    height: auto;
    width: 50%;
}
.name{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}

.section-tt .service-desc-s{
    width: 100%;

}
    

@media screen and(max-width:768px){
    
    .section-tt:target{
        height: auto;
        width: 100%;
    }


@media screen and(max-width:960px){
    .section-tt:target{
        height: auto;
        width: 100%;
    }

}
}

@media screen and(max-width:480px){
    .section-tt:target{
        height: auto;
        width: 100%;
    }
    
}

